.bgImageDiv {
    background-image: url(/clientSiteFiles/images/GlassAndLaptop.jpg );
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    background-position: center;
    position: relative;
    background-attachment: scroll;
}

.bgImageDivForShowSubject {
    background-image: url(/clientSiteFiles/images/book3.jpg );
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
    background-position: bottom;
    position: relative;
    background-attachment: scroll;
}
