
/*#region Tab */
.nav-tabs .nav-link.active {
    font-weight: bold;
    background-color: transparent;
    border-bottom: 3px solid #dd0000;
    border-right: none;
    border-left: none;
    border-top: none;
}
/*#endregion */
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}


.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}


.btnFiles {
    padding: 10px;
    color: white;
    background-color: #3e3b3b;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

    .btnFiles:hover {
        background-color: #3e3a3a;
    }

.custom-texts {
    margin-left: 10px;
    font-family: sans-serif;
    color: #000;
}


.table th, table td {
    text-align: center;
}

.btn-save {
    padding: 9px 14px;
    border: 1px solid #dee2e6 !important;
    display: inline-block;
    border-radius: 0.2rem;
    font-weight: 400;
    width: 140px !important;
    height: 40px !important;
}