
@{
}
<ul class="metismenu" id="menu">
    <li class="active">
        <a href="@Url.Action("Index", "Admin")" aria-expanded="true"><span class="ti-home"></span><span>Əsas səhifə</span></a>
    </li>
    <li class="active">
        <a asp-controller="Organization" asp-action="Index">
            <span class="ti-layers-alt"></span>
            <span>Təşkilat</span>
        </a>
    </li>
    <li class="active">
        <a asp-controller="Department" asp-action="Index">
            <span class="ti-layers-alt"></span>
            <span>Departament</span>
        </a>
    </li>
    <li class="active">
        <a asp-controller="DepartmentPosition" asp-action="Index">
            <span class="ti-id-badge"></span>
            <span>Vəzifə</span>
        </a>
    </li>
    <li class="active">
        <a asp-controller="PositionTable" asp-action="Index">
            <span class="ti-timer"></span>
            <span>İş cədvəli</span>
        </a>
    </li>
    <li class="active">
        <a asp-controller="Person" asp-action="Index">
            <span class="ti-user"></span>
            <span>İşçi</span>
        </a>
    </li>
    <li class="active">
        <a asp-controller="WorkBook" asp-action="Index">
            <span class="ti-book"></span>
            <span>Əmək kitabçası</span>
        </a>
    </li>
    <li class="active">
        <a asp-controller="WorkPlace" asp-action="Index">
            <span class="ti-briefcase"></span>
            <span>İş Yerləri</span>
        </a>
    </li>
    <li class="active">
        <a asp-controller="WorkPlaceHistory" asp-action="Index">
            <span class="ti-briefcase"></span>
            <span>İş Yerlərinin Tarixcəsi</span>
        </a>
    </li>
    <li class="active">
        <a asp-controller="Vacation" asp-action="Index">
            <span class="ti-calendar"></span>
            <span>Məzuniyyət</span>
        </a>
    </li>
    <li class="active">
        <a asp-controller="Holiday" asp-action="Index">
            <span class="ti-calendar"></span>
            <span>Tətil</span>
        </a>
    </li>
    <li class="active">
        <a asp-controller="ApplicationNumber" asp-action="Index">
            <span class="ti-files"></span>
            <span>Nömrələnmə</span>
        </a>
    </li>
</ul>