
@{
}
<ul class="metismenu" id="menu">
    <li class="active">
        <a href="@Url.Action("Index", "Account")"  aria-expanded="true"><span class="ti-home"></span><span>Əsas səhifə</span></a>
    </li>

    <li class="active">
        <a asp-controller="Person" asp-action="Index">
            <span class="ti-user"></span>
            <span>İşçi</span>
        </a>
    </li>

    <li class="active">
        <a asp-controller="DepartmentPosition" asp-action="Index">
            <span class="ti-id-badge"></span>
            <span>Vəzifə</span>
        </a>
    </li>

    <li class="active">
        <a asp-controller="Education" asp-action="Index">
            <span class="fa fa-graduation-cap"></span>
            <span>Təhsil</span>
        </a>
    </li>

    <li class="active">
        <a asp-controller="WorkExperience" asp-action="Index">
            <span class="fa fa-briefcase"></span>
            <span>İş Təcrübəsi</span>
        </a>
    </li>

    <li class="active">
        <a asp-controller="Language" asp-action="Index">
            <span class="fa fa-language"></span>
            <span>Dil Bilikləri</span>
        </a>
    </li>
    
    <li class="active">
        <a asp-controller="KnownProgram" asp-action="Index">
            <span class="fa fa-code"></span>
            <span>Proqram Bilikləri</span>
        </a>
    </li>  
    
    <li class="active">
        <a asp-controller="PersonDocument" asp-action="Index">
            <span class="fa fa-file"></span>
            <span>Sənədlər</span>
        </a>
    </li>
    
    <li class="active">
        <a asp-controller="SpecialitySubject" asp-action="Index">
            <span class="fa fa-book"></span>
            <span>İxtisaslar</span>
        </a>
    </li> 
    
    <li class="active">
        <a asp-controller="Note" asp-action="Index">
            <span class="fa fa-envelope"></span>
            <span>İsmarıclar</span>
        </a>
    </li>

    <li class="active">
        <a asp-controller="AddFeatures" asp-action="Index">
            <span class="ti-plus"></span>
            <span>Özəlliklər əlavə edin</span>
        </a>
    </li>
</ul>