.btn-save {
    padding: 9px 14px;
    border: 1px solid #dee2e6 !important;
    display: inline-block;
    border-radius: 0.2rem;
    font-weight: 400;
    width: 140px !important;
    height: 40px !important;
}
