
@{
    ViewData["Title"] = "Index";
}

@section styles{
    <link href="~/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}
<!-- #region DataTable Language List -->
<div class="col-12 mt-5">
    <div class="card">
        <div class="card-header">
            <div>
                <a asp-controller="Action" asp-action="Create" class="btn btn-outline-secondary "><span class="ti-plus mr-2"></span>Yeni fəaliyyət  əlavə et</a>
            </div>
        </div>
        <div class="card-body">
            <div class=" d-flex justify-content-between">
                <h4 class="header-title">Fəaliyyətlər</h4>
            </div>
            <hr />
            <br />
            <div class="single-table">
                <div class="table-responsive">
                    <table id="dataTable" style="width: 100%;" class="table table-hover progress-table text-center">
                        <thead>
                            <tr role="row">
                            <tr>
                                <th>#</th>
                                <th>Id</th>
                                <th>Bax</th>
                                <th>Adı</th>
                                <th>Tarix</th>
                                <th>Başlama vaxtı</th>
                                <th>Bitmə vaxtı</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="showMoreModal" class="modal fade" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

    </div>
</div>

@section scripts{
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/DataTables/js/jquery.dataTables.min.js"></script>>
    <script src="~/DataTables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Custom/Action/actionListForDataTables.js" asp-append-version="true"></script>
}
<!-- #endregion -->
