.btn-save {
    padding: 9px 14px;
    border: 1px solid #dee2e6 !important;
    display: inline-block;
    border-radius: 0.2rem;
    font-weight: 400;
    width: 140px !important;
    height: 40px !important;
}
.btn-delete {
    margin-top: 29px;
    border: 1px solid #dee2e6 !important;
    display: inline-block;
    border-radius: 0.4rem;
    font-weight: 600;
    padding: 5px 7px;
    width: 80px !important;
    height: 35px !important;
    background-color:red;
    color:white;
    font-size:16px;
}
.file-input {
    width: 364px;
    margin-right: 5px;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
}

.dropdown-menu {
    width: 92% !important;
}

.form-control {
    font-family: serif;
}

.dropdown-menu li, .dropdown-menu li a {
    white-space: normal !important;
    margin-left: 10px;
    margin-top: 2px;
    color: #000000;
    text-decoration: none;
    float: left !important;
    width: 100% !important;
    height: auto !important;
    word-wrap: break-word !important;
}

* {
    box-sizing: border-box;
}

html {
    margin: 40px auto;
}

.btn-search {
    background: #337ab7;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #1c1c1c;
    height: 46px;
    padding-right: 25px;
}

    .btn-search:active, .btn-search:hover {
        background: #4d8fc8;
        color: #fff;
    }