@*Footer*@

<footer class="site-footer">
    <div class="container">
        <div class="row">
                    <div class="col-md-4">
                        <h2 class="footer-heading mb-4">Haqqımızda</h2>
                        <p> Bu kafedra “Avtomatlaşdırılmış idarəetmə sistemləri” və “Kompüter texnologiyaları və proqramlaşdırma” kafedralarının birləşdirilməsi nəticəsində təşkil olunub.</p>
                    </div>
                    <div class="col-md-5 ml-auto">
                        <h2 class="footer-heading mb-4">Faydalı Linklər</h2>
                        <ul class="list-unstyled">
                            <li><a href="https://president.az/">Prezident.az</a></li>
                            <li><a href="http://edu.gov.az/az" title="Azərbaycan Respublikasi Təhsil Nazirliyi">Azərbaycan Respublikasi Təhsil Nazirliyi</a></li>
                            <li><a href="http://www.tqdk.gov.az/" title="TQDK">TQDK</a></li>
                            <li><a href="http://www.virtualkarabakh.az/" title="İnformasiya-Kommunukasiya Texnologiyaları Mərkəzi">İKTM</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 ml-auto">
                        <h2 class="footer-heading mb-4">ADNSU</h2>
                        <ul class="social-media">
                            <li><a href="https://www.facebook.com/Azii1920.ADNSU/5426?fref=ts" class="p-2" target="_blank"><span class="icon-facebook"></span></a></li>
                            <li><a href="https://twitter.com/dkadnsu" class="p-2" target="_blank"><span class="icon-twitter"></span></a></li>
                            <li><a href="https://www.instagram.com/asoiu_university/?hl=tr" class="p-2" target="_blank"><span class="icon-instagram"></span></a></li>
                            <li><a href="https://www.youtube.com/results?search_query=adnsu" class="p-2" target="_blank"><span class="icon-youtube"></span></a></li>
                        </ul>
                    </div>
        </div>

        <div class="row mt-2 text-center">
            <div class="col-md-12 ">
                <div class="border-top">
                    <p>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>